
.dashboard-scroll::-webkit-scrollbar {
  width: 6px;
}
.dashboard-scroll::-webkit-scrollbar-track {
  background: #14181f;
}
.dashboard-scroll::-webkit-scrollbar-thumb {
  background: #2b303b46;
  border-radius: 9999px;
  height: 15px;
}
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #14181f ;
}

*::-webkit-scrollbar-thumb {
  background: #2b303b46;
  border-radius: 9999px;
}

.inputModal {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 0.75rem;
    background: #191d24;
    border: 1px solid #2b303b;
    color: white;
}
